################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelApplication/HotelApplication/bin
/HotelApplication/.vs/
/HotelApplication/HotelApplication/obj
/HotelApplication/HotelApplication/HotelApplication.csproj.user
